@inherits LayoutComponentBase

@*This is the main HTML page*@
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container-fluid p-0">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@*Footer Section*@
<div class="row text-center pb-4 pt-5 custom-bg text-dark">
    <div class="col-12 col-md-4">
        <h4>MAILING ADDRESS</h4>
        <p>123 Anywhere St., Any City, ST 12345</p>
    </div>
    <div class="col-12 col-md-4">
        <h4>EMAIL ADDRESS</h4>
        <p>hello@reallygreatsite.com</p>
    </div>
    <div class="col-12 col-md-4">
        <h4>PHONE NUMBER</h4>
        <p>(123) 456-7890</p>
    </div>
    <div class="col-12 text-center p-2">
        &copy; 2023 - DiamondDesign863 - <a href="#">Privacy</a>
    </div>
</div>