@page "/"

<PageTitle>Home</PageTitle>

@*First Component*@
<div class="container">
    <div class="row">
        <div class="col-12 text-center fw-bold mb-4">
            <p class="display-6">This Home Page is made up different components.</p>
        </div>
    </div>
</div>
<GetAllUsersInfo></GetAllUsersInfo>
